<EditForm Model="@LoginRequest" OnValidSubmit="SubmitAsync">

    <FluentValidationValidator />

    <MudText Typo="Typo.h4"
             GutterBottom="true">
        Sign In
    </MudText>

    <MudText>
        Don't have an account? <MudLink Href=@RegisterRoute>Register</MudLink>
    </MudText>

    <MudTextField Label="Email Address"
                  @bind-Value="LoginRequest.Email"
                  For="@(() => LoginRequest.Email)"
                  Variant="Variant.Outlined"
                  Class="my-6" />

    <MudTextField Label="Password"
                  @bind-Value="LoginRequest.Password"
                  For="@(() => LoginRequest.Password)"
                  Variant="Variant.Outlined"
                  InputType="@ToggleVisibility.InputType"
                  Adornment="Adornment.End"
                  AdornmentIcon="@ToggleVisibility.InputIcon"
                  OnAdornmentClick="ToggleVisibility.ToggleVisibility" />

    <div Class="d-flex justify-space-between align-center">
        <MudCheckBox T="bool"
                     Label="Remember me?"
                     Color="Color.Primary"
                     Class="ml-n1 my-3" />
    </div>

    <MudStack Spacing="2">
        <MudButton ButtonType="ButtonType.Submit" 
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Size="Size.Large"
                   Disabled = "IsProcessing"
                   FullWidth="true">
            @if(IsProcessing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                <MudText Class="ms-2">Processing</MudText>
            }
            else
            {
                <MudText>
                    Sign In
                </MudText>
            }
        </MudButton>
        <MudButton ButtonType="ButtonType.Button"
                   Variant="Variant.Text"
                   Color="Color.Info"
                   Size="Size.Small"
                   Disabled = "IsProcessing"
                   FullWidth="true"
                   Href="/">

            <MudText>
                Home
            </MudText>
        </MudButton>
    </MudStack>
</EditForm>