
<MudItem sm="12" md="4" lg="3">
    <MudPaper Outlined="true" Style="height: 100%">
        <MudCard Style="height: 100%">
            <MudCardContent>
                <div class="d-flex justify-center">
                    <AvatarImage
                        Avatar="@AvatarImage"
                        UserName="@UserName"
                        Style="height:200px; width:200px;" />
                </div>
                <MudText Class="mt-2" Align="Align.Center">@FirstName @LastName</MudText>
            </MudCardContent>
            <MudCardActions  Class="d-flex justify-center">
                <MudFileUpload T="IBrowserFile" Accept=".jpg,.jpeg,.png" FilesChanged="UploadFileAsync">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   Disabled="IsProcessing"
                                   for="@context">
                            @if (IsProcessing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">Processing</MudText>
                            }
                            else
                            {
                                <MudText>
                                    Select Image
                                </MudText>
                            }
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudCardActions>
        </MudCard>
    </MudPaper>
</MudItem>

<MudItem sm="12" md="8" lg="9">
    <MudPaper Outlined="true">
        <EditForm Model="@UpdateUserModel" OnValidSubmit="SubmitAsync">
            <FluentValidationValidator />

            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText>Profile Details</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudTextField Label="First Name"
                                          @bind-Value="UpdateUserModel.FirstName"
                                          For="@(() => UpdateUserModel.FirstName)"
                                          Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField Label="Last Name"
                                          @bind-Value="UpdateUserModel.LastName"
                                          For="@(() => UpdateUserModel.LastName)"
                                          Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField Label="Username"
                                          @bind-Value="UserName"
                                          Disabled=true
                                          For="@(() => UserName)"
                                          Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField Label="Email"
                                          @bind-Value="Email"
                                          Disabled=true
                                          For="@(() => Email)"
                                          Variant="Variant.Outlined" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Size="Size.Large"
                               Disabled="IsProcessing"
                               FullWidth="true">
                        @if (IsProcessing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processing</MudText>
                        }
                        else
                        {
                            <MudText>
                                Save Changes
                            </MudText>
                        }
                    </MudButton>
                </MudCardActions>
            </MudCard>
            
        </EditForm>
        
    </MudPaper>
</MudItem>
